package ${package}.${moduleName}.mapper;

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import ${package}.${moduleName}.entity.${className};
import org.apache.ibatis.annotations.Param;

/**
 * <p>
 * ${className} Mapper接口
 * </p>
 *
 * @Title: ${className}Controller.java
 * @Package: ${package}.${moduleName}.mapper;
 * @Author <a href="mailto:${email}">${author}</a>
 * @Date: ${ctime}
 * @Version: ${version}
 */
public interface ${className}Mapper extends BaseMapper<${className}> {

}
