package ${package}.${moduleName}.service;

import com.baomidou.mybatisplus.extension.service.IService;
import ${package}.${moduleName}.entity.${className};

/**
 * <p>
 * ${className}Service接口
 * </p>
 * @Title: ${className}Controller.java
 * @Package: ${package}.${moduleName}.service;
 *
 * @Author <a href="mailto:${email}">${author}</a>
 * @Date: ${ctime}
 * @Version: ${version}
 */
public interface ${className}Service extends IService<${className}> {

}