package ${package}.${moduleName}.controller;

import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.core.toolkit.Wrappers;
import com.common.util.ResponseEntity;
import com.common.web.BaseController;
import ${package}.${moduleName}.entity.${className};
import ${package}.${moduleName}.service.${className}Service;
import lombok.AllArgsConstructor;
import org.springframework.security.access.prepost.PreAuthorize;
import org.springframework.web.bind.annotation.*;

/**
 * <p>
 * ${className}Controller控制层
 * </p>
 * @Title: ${className}Controller.java
 * @Package: ${package}.${moduleName}.controller;
 *
 * @Author <a href="mailto:${email}">${author}</a>
 * @Date: ${ctime}
 * @Version: ${version}
 */
@RestController
@AllArgsConstructor
@RequestMapping("${secondModuleName}")
public class ${className}Controller extends BaseController {
    private final ${className}Service ${secondModuleName}Service;

    /**
     * 简单分页查询
     * @param page 分页对象
     * @param ${classname} ${comments}
     * @return
     */
    @GetMapping("/page")
    public ResponseEntity<IPage<${className}>> get${className}Page(Page<${className}> page, ${className} ${classname}) {
        return new ResponseEntity<>(${classname}Service.page(page,
                Wrappers.<${className}>query().lambda()
        ));
    }


    /**
     * 通过id查询单条记录
     * @param ${pk.lowerAttrName}
     * @return ResponseEntity
     */
    @GetMapping("/{${pk.lowerAttrName}}")
    public ResponseEntity<${className}> getById(@PathVariable("${pk.lowerAttrName}") ${pk.attrType} ${pk.lowerAttrName}) {
        return new ResponseEntity<>(${classname}Service.getById(${pk.lowerAttrName}));
    }

    /**
     * 新增记录
     * @param ${classname}
     * @return ResponseEntity
     */
    //@SysLogAnnotation("新增${comments}")
    @PostMapping
    public ResponseEntity save(@RequestBody ${className} ${classname}) {
        return new ResponseEntity<>(${classname}Service.save(${classname}));
    }

    /**
     * 修改记录
     * @param ${classname}
     * @return ResponseEntity
     */
    //@SysLogAnnotation("修改${comments}")
    @PutMapping
    public ResponseEntity update(@RequestBody ${className} ${classname}) {
        return new ResponseEntity<>(${classname}Service.updateById(${classname}));
    }

    /**
     * 通过id删除一条记录
     * @param ${pk.lowerAttrName}
     * @return ResponseEntity
     */
    //@SysLogAnnotation("删除${comments}")
    @DeleteMapping("/{${pk.lowerAttrName}}")
    public ResponseEntity removeById(@PathVariable ${pk.attrType} ${pk.lowerAttrName}) {
        return new ResponseEntity<>(${classname}Service.removeById(${pk.lowerAttrName}));
    }
}