-- 该脚本不要执行，请完善 ID 对应关系,注意层级关系 !!!!

-- 菜单SQL
insert into `sys_menu` ( `parent_id`, `component`, `permission`, `type`, `path`, `icon`, `menu_id`, `del_flag`, `create_time`, `sort`, `update_time`, `name`)
    values ( '父菜单ID', 'views/${moduleName}/${secondModuleName}/index', '', '0', '${secondModuleName}', 'icon-bangzhushouji', '菜单ID', '0', '${ctime}', '8', '${ctime}', '${comments}管理');

-- 菜单对应按钮SQL
insert into `sys_menu` ( `parent_id`, `component`, `permission`, `type`, `path`, `icon`, `menu_id`, `del_flag`, `create_time`, `sort`, `update_time`, `name`)
    values ( '菜单ID', null, '${tablePrefix}${secondModuleName}_add', '1', null, '1', '子按钮ID1', '0', '${ctime}', '0', '${ctime}', '${comments}新增');
insert into `sys_menu` ( `parent_id`, `component`, `permission`, `type`, `path`, `icon`, `menu_id`, `del_flag`, `create_time`, `sort`, `update_time`, `name`)
    values ( '菜单ID', null, '${tablePrefix}${secondModuleName}_edit', '1', null, '1', '子按钮ID2', '0', '${ctime}', '1', '${ctime}', '${comments}修改');
insert into `sys_menu` ( `parent_id`, `component`, `permission`, `type`, `path`, `icon`, `menu_id`, `del_flag`, `create_time`, `sort`, `update_time`, `name`)
    values ( '菜单ID', null, '${tablePrefix}${secondModuleName}_del', '1', null, '1', '子按钮ID3', '0', '${ctime}', '2', '${ctime}', '${comments}删除');
