<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.oauthupms.mapper.MenuMapper">

    <resultMap id="menuMap" type="com.cloud.oauthupms.entity.Menu">
        <id property="menuId" column="menu_id"/>
        <result property="name" column="name"/>
        <result property="clientId" column="client_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="method" column="method"/>
        <result property="reqUrl" column="req_url"/>
        <result property="icon" column="icon"/>
        <result property="webRole" column="web_role"/>
        <result property="webPath" column="web_path"/>
        <result property="webRoleType" column="web_role_type"/>
        <result property="webType" column="web_type"/>
        <result property="sort" column="sort"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>
</mapper>
